<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("jquery", "1.7.1");

    
</script>
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:500px;}
    #mc-embedded-subscribe {
        clear: none;
        margin: 0;
    }
    #mc_embed_signup input {
        width: 100%;
    }
    #mc_embed_signup .mc-field-group {
        width: 100%;
    }

    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<div id="mc_embed_signup">
<form action="http://authenticweb.us7.list-manage.com/subscribe/post?u=c631a5dd740b92ee9115db538&amp;id=5ec19f6b8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address </label>
    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-MMERGE3">Phone </label>
    <input type="text" value="" name="MMERGE3" class="form-control" id="mce-MMERGE3">
</div>
<div class="mc-field-group">
    <label for="mce-COMPANY">Company </label>
    <input type="text" value="" name="COMPANY" class="form-control" id="mce-COMPANY">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  

    <div class="submit_container">
<input type="submit" id="mc-embedded-subscribe" class="btn btn-primary btn-lg btn-block" style="border: none" name="submit" value="Subscribe for eBook">


</div>

</form>
<button id="submit-form" class="btn btn-primary btn-lg btn-block" style="border: none" name="submit" value="Subscribe for eBook">
</div>
<script>
    $("#submit-form").click(function(){
        console.log($('#freeEbook'));
        $('#freeEbook').modal('hide');
    });
</script>

<!--End mc_embed_signup-->
