html{
	overflow: hidden;
}

table td, table td * {
    vertical-align: top;
}

.no-margin {
	padding: 0;
	margin: 0;
}
.entry-thumbnail {
	overflow-x: hidden;
}
.rpwe-block h3 {
	font-size: 14px !important;
	margin-top: 0 !important;
}
.green {
	color: green;
}
.modal_response {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        overflow: auto;
}

.tooltip-inner {
    max-width: 450px;
    padding: 20px;
    background: #FFF;
    color: #000;
    border: 2px solid #000;
}

.tooltip.in {
	opacity: 1;
}

img.tip {
	cursor: pointer;
}

ul.unstyled {
	margin: 0;
	padding: 0;
}
ul.unstyled li {
	list-style: none;
	margin-bottom: 5px;
	width: 300px;
}
ul.unstyled li span {
	margin-right: 5px;
}

.glyphicon {
	color: green;
}
body{
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Open Sans', sans-serif;
	color: #484A40;
}
.entry-content {
	margin-top: 20px;
}
.emptytablebox {
	background-image: none !important;
}

.nomargin {
	margin-top: 0;
	margin-bottom: 5px;
}
.rightalign {
	float: right;
}

.right-align-text {
	text-align: right;
}

section{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	padding-top: 150px;
	padding-bottom: 50px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

nav {
	height: 85px;
}

em {
	color: #4B4B4B;
}

p {
	font-size: 15px;
	line-height: 23px;
}

h2,h3,h4 {
	line-height: 23px;
}
#blog h2 {
	line-height: 30px;
}
h2 {
	margin-bottom: 15px;
}
.navbar-brand {
	width: 100px;
	display: inline-block;
	padding: 0;
	line-height: 80px;
}

#menu-primary {
	position: absolute;
	right: 0;
	margin-top: 15px;
}

.collapse{
	position: relative;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	font-weight: bold;
	color: #6abd23;
}

.page-heading {
	font-size: 40px;
	font-weight: 400;
	text-align: left !important;
	background-color: #EFEFED;
	border-bottom: 1px solid #CCCDC5;
	margin-bottom: 50px;
}
.page-heading h1 {
	font-size: 26px;
	line-height: 35px;
	margin: 0;
}
.img-thumbnail {
	float: left;
	margin-right: 10px;
}

.indented {
	margin-left: 25px;
}

.social-icons {
	text-align: right;
}

table#webinar-popup tr td.content {
	padding-left: 7px;
	line-height: 18px;
}

section#home img.stickguy {
	padding-top: 25px;
}


@media (max-width: 767px) {

	html{
		overflow-x: hidden;
		overflow: visible;
	}

	section{
		position: static;
		display: block;
		text-align: center;
		padding-top: 85px;
		padding-bottom: 0;
	}

	section#home {
		padding-top: 150px;
	}

	section#home img, section#ebook img.ebook2{
		width: auto;
	}

	section#ebook img.ebook2 {
		margin-top: 15px;
	}

	nav ul {
		background-color: #EFEFED;
	}

	#menu-primary {
		margin-top: 0;
	}

	.navbar{
		background-color: #fff;
		border-color: #e7e7e7;
	}

	.collapse {
		position: static;
	}

	#menu-primary {
		position: static;
	}

	.navbar-header > button {
		margin-top: 20px;
	}

	#content {
		margin-top: 80px;
	}

	.navbar-brand img {
		width: 200px;
	}

	.navbar-brand {
		padding-left: 20px;
	}

	.indented {
		margin-left: 0;
	}

	.social-icons {
		text-align: center;
	}

	section footer {
		display: none;
	}

	section#contact footer {
		display: inline-block;
	}

	section#ebook img.ebook2 {
		display: none;
	}
}

@media (min-width: 768px){
	section {
		padding-bottom: 0;
	}

	.navbar-collapse{
		width: 550px;
		left: 180px;
		margin: 0;
		padding: 0;
	}

	.navbar-header{
		z-index: 10;
	}

	#menu-primary li a{
		padding-right: 0;
	}

}

@media (min-width: 768px) and (max-width: 992px) {


	.navbar-brand img {
		width: 150px;
	}

	section#home {
		text-align: center;
	}

	section#home img{
		width: auto;
	}

	section#ebook img.ebook2 {
		display: none;
	}

	.social-icons {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width: 992px){

	.navbar-collapse{
		width: 650px;
		left: 300px;
		margin: 0;
		padding: 0;
	}
	
	#menu-primary li a{
		padding-right: 15px;
	}

	.entry-thumbnail {
		overflow-x: hidden;
	}

	.tooltip {
		left: -139px !important;
	}
}

@media(min-width: 1200px){

	.navbar-collapse{
		left: 500px;
	}

	.entry-thumbnail {
		overflow-x: hidden;
	}

	.tooltip {
		left: -139px !important;
	}

}

.orange-bg{
	background-color: #e87231;
	border:0;
}

.orange-bg:hover, .orange-bg:active, .orange-bg:focus{
	background-color: #f47a35;
	border:0;
}

.centered {
	text-align: center;
}

section#services table th {
	background-color: #6abd23;
	color: #fff;
}

section#services table tr td {
	background-image: url('img/aweb-check2.png');
	background-repeat: no-repeat;
	padding-left: 25px;
}

.tucows {
	padding-top: 25px;
}

section#blog a {
	color: #000;
	text-decoration: none;
}

section#blog .older_posts {
	padding: 10px;
	background-color: #e87231;
	font-size: 18px;
	text-align: center;
	width: 200px;
	float: right;
}
section#blog .older_posts a {
	color: #FFF;
	font-weight: bold;
}

article {
	padding-top: 150px;
}

.entry-meta span {
	margin-right: 20px;
}

.navigationposts {
	margin-top: 30px;
}

.post {
	margin-bottom: 30px;
}

.post_date {
	background: #515151;
	line-height: 35px;
	width: 100%;
	margin: 0;
	font-size: 14px;
	font-family: georgia;
	font-style: italic;
	color: #FFF;
	margin-bottom: 20px;
	text-align: left;
}

.post_date span.orange {
	line-height: 35px;
	display: inline-block;
	background-color: #e87231;
}

.post_date span {
	padding: 0 10px;
}

.post img {
	/*width: 100%;*/
}

footer {
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #e7e7e7;
}

footer ul {
	list-style-type: none;
}

.wpp-list {
	padding-left: 0;
}

.wpp-list li {
	margin-bottom: 25px;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.ie8 section {
   position: relative;
}

/* Template-specific stuff
 *
 * Customizations just for the templateâ€”these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
.ie8 body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Finesse the page header spacing */
.ie8 .page-header {
  margin-bottom: 30px;
}
.ie8 .page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.ie8 .container {
  max-width: none !important;
  width: 970px;
}

/* Demonstrate the grids */
.ie8 .col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.ie8 .container .navbar-header,
.ie8 .container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.ie8 .navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.ie8 .navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.ie8 .navbar-toggle {
  display: none;
}

.ie8 .navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.ie8 .navbar-nav {
  float: left;
  margin: 0;
}
.ie8 .navbar-nav > li {
  float: left;
}
.ie8 .navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.ie8 .navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.ie8 .ie8 .navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.ie8 .navbar .open .dropdown-menu > li > a {
  color: #333;
}
.ie8 .navbar .open .dropdown-menu > li > a:hover,
.ie8 .navbar .open .dropdown-menu > li > a:focus,
.ie8 .navbar .open .dropdown-menu > .active > a,
.ie8 .navbar .open .dropdown-menu > .active > a:hover,
.ie8 .navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.ie8 .navbar .open .dropdown-menu > .disabled > a,
.ie8 .navbar .open .dropdown-menu > .disabled > a:hover,
.ie8 .navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
